
<%- include('../partials/header', {title : 'Add Teacher'}) %>
<body>
    <h1>Add Teacher</h1>
    <a href="/">Home</a> || <a href="/baaks">Baak</a> || <a href="/baaks/students">Students</a> || <a href="/baaks/teachers">Teachers</a> || <a href="/baaks/courses">Courses</a>
    <hr>
        <form action="/baaks/add/teachers" method="POST">
        <label for="first_name">First Name : </label><br>
        <input type="text" name="first_name"><br><br>
        <label for="last_name">Last Name : </label><br>
        <input type="text" name="last_name"><br><br>
        <label for="nik">NIK : </label><br>
        <input type="number" name="nik"><br><br>
        <label for="room_location">Room Location : </label><br>
        <input type="text" name="room_location"><br><br>
        <label for="email">Email : </label><br>
        <input type="email" name="email"><br><br>
        <button type="submit">Submit</button>
        </form>
    <hr>
</body>
<%- include('../partials/footer') %>