<%- include('../partials/header', {title : 'Home'}) %>

    <body>
        <h1>Welcome Baak</h1>
        <a href="/baaks/students">Students</a> || <a href="/baaks/teachers">Teachers</a> || <a href="/baaks/courses">Courses</a>
        <hr>
        <h3>Selamat bekerja</h3>
        <hr>
    </body>
    <%- include('../partials/footer') %>