<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnoldi University</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<br>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/contact-us">Contact Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/fakultas">Fakultas<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">

    <style>
        h1 {
            font-family: 'Lobster', cursive;
        }
        
        .faculty {
            font-family: 'Libre Baskerville', serif;
        }
    </style>
    <h1>Our Faculties</h1>
    <div class="faculty">
        <ul>
            <li>Fakultas Teknologi dan Industri</li>
            <li>Fakultas Ilmu Pengetahuan Sosial</li>
            <li>Fakultas Ilmu Pengetahuan Alam</li>
            <li>Fakultas Kedokteran</li>
            <li>Fakultas Sastra</li>
        </ul>
    </div>
    <%- include('./partials/footer') %>